<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yiwo.friendscometogether">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".base.BaseActivity"
            android:label="@string/title_activity_base" />
        <activity
            android:name=".pages.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.ForgetPwActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.DetailsOfFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.SearchActivity"
            android:screenOrientation="portrait" />

        <!-- //设计图的宽,单位是像素,推荐用markman测量,量出来如果是750px那么请尽量去找ui设计师要一份android的设计图. -->
        <meta-data
            android:name="designwidth"
            android:value="750" />
        <!-- //设计图对应的标准dpi,根据下面的那张图找到对应的dpi,比如1080就对应480dpi,如果拿到的是其他宽度的设计图,那么选择一个相近的dpi就好了 -->
        <meta-data
            android:name="designdpi"
            android:value="320" />
        <!-- //全局字体的大小倍数,有时候老板会觉得你的所有的字小了或者大了,你总不能一个一个去改吧 -->
        <meta-data
            android:name="fontsize"
            android:value="1.0" />
        <!-- //你的布局里面用的是px这就写px,你的布局里面用的是dp这就写dp,要统一,不要一会儿px一会儿dp,字体也用px或者dp,不要用sp,微信qq用的肯定不是sp. -->
        <meta-data
            android:name="unit"
            android:value="px" />

        <activity
            android:name=".pages.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.MyFocusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.DetailsOfFriendTogetherActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pages.MyCollectionActivity" />
        <activity android:name=".pages.MyCommentActivity" />
        <activity android:name=".pages.LookHistoryActivity" />
        <activity android:name=".pages.MyDraftActivity" />
        <activity android:name=".pages.CreateFriendRememberActivity" />
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".pages.CreateFriendTogetherActivity" />
        <activity android:name=".pages.DetailsToBePaidActivity" />
        <activity android:name=".pages.DetailsToCommentActivity" />
        <activity android:name=".pages.DetailsToTripActivity" />
        <activity android:name=".pages.DetailsToReturnPriceActivity" />
        <activity android:name=".pages.MyFriendRememberActivity" />
        <activity android:name=".pages.MyIntercalationActivity" />
        <activity android:name=".pages.MyPicturesActivity" />
        <activity android:name=".pages.MessageCenterActivity" />
        <activity android:name=".pages.MyInformationActivity" />
        <activity android:name=".pages.ApplyActivity" />
        <activity android:name=".pages.RealNameActivity" />
        <activity android:name=".pages.StartActiveActivity" />
        <activity android:name=".pages.JoinActiveActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".pages.CreateIntercalationActivity" />
        <activity android:name=".pages.EditorFriendRememberActivity" />
        <activity android:name=".pages.TeamIntercalationActivity" />
        <activity android:name=".pages.InsertIntercalationActivity" />
        <activity android:name=".pages.OtherInformationActivity" />
        <activity android:name=".pages.FriendTogetherAddContentActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx77762a8eab365cf1" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.ArticleCommentActivity" />
        <activity android:name=".pages.SetActivity" />
        <activity android:name=".pages.MessageViewActivity" />
        <activity android:name=".pages.MessageCenterDetailsActivity" />
        <activity android:name=".pages.UserAgreementActivity" />
        <activity android:name=".pages.UpdateActivity" />
        <activity android:name=".pages.FeedbackActivity" />
        <activity android:name=".pages.EditorFriendTogetherActivity" />
        <activity android:name=".pages.ActiveEvaluationActivity" />
        <activity android:name=".pages.OrderCommentActivity"></activity>
    </application>

</manifest>